/*
   #6c60fe - blue
   #a39dff
*/

.home {
  display: flex;
  flex-direction: column;
  height: 95vh;
  /* background-color: rgb(164, 157, 255, 0.3); */
}

.home_body {
  flex: 4;
}

.home_footer {
  flex: 1;
}
